@use 'scss-reset/reset';

:root {

  //colors
  --primary-bg-color: #FFFFFF;
  --primary-fg-color: #000000;
  --primary-fg-text: rgba(0, 0, 0, 48%);
  --primary-border-color: rgba(0, 0, 0, 9%);
  --color-text-blue: #066AFF;
  --color-bg-cyan: #CBEFFF;
  --color-text-orange: #FF4206;
  --color-bg-orange: #FF4206;
  --max-container-width: 480px;
}

a {
  text-decoration: none;
  color: var(--primary-fg-color);
}

// main

body {
  font-family: var(--font-primary);
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  @media screen and (max-width: 500px) {
    padding: 0 20px;
  }
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}
