@use 'scss-reset/reset';

:root {

  //colors
  --primary-bg-color: #141416;
  --primary-fg-color: #ffffff;
  --primary-fg-text: rgba(200, 200, 200, 0.7);
  --primary-border-color: rgba(200, 200, 200, 9%);
  --color-text-blue: #066AFF;
  --color-bg-cyan: #CBEFFF;
  --color-text-orange: #FF4206;
  --color-bg-orange: rgba(255, 228, 203, 1);
  --max-container-width: 400px;
}
 
a {
  text-decoration: none;
  color: var(--primary-fg-color);
}

// main

body {
  font-family: var(--font-jetBrainsMono);
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);
  min-height: 100vh;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -100;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 800px;
    mix-blend-mode: color-dodge;
    border-radius: 50%;
    filter: blur(62px);
    background: linear-gradient(
      0deg,
      rgba(25, 0, 255, 0.2) 0%,
      rgba(255, 0, 0, 1) 100%
    );
    z-index: -1;
    pointer-events: none;
  }
}

main {
  min-height: 100vh;
  display: block;
  position: relative;
  @media screen and (max-width: 500px) {
  }
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
